<div id="navmenu">
    <h3>Main</h3>
    <a href="whatisgo.html">What is Go?</a>
    <a href="firststeps.html">First steps</a>
    <a href="study.html">How to improve</a>
    <a href="lessons.html">Lessons</a>
    <a href="kifu_sorin.html">Commented games</a>
    <a href="whatispro.html">About professionals</a>
    <a href="whatisinsei.html">About insei</a>
    <a href="essays.html">Articles</a>
    <a href="guide_to_go_books.html">Books</a>
    <a href="software.html">Software and playing online</a>
    <a href="articles/thoughtsonalphago.html">AlphaGo</a>
    <a href="articles/alphago_zero_patterns.html">AlphaGo Zero Patterns</a>
    <a href="lz_before_and_after_elf.html"><strong>LeelaZero Patterns</strong></a>

    <h3>Links</h3>
    <a href="https://gotoeveryone.k2ss.info/news/" target="_blank">News</a>
    <a href="https://www.reddit.com/r/baduk/" target="_blank">Reddit/Baduk</a>
    <a href="http://lifein19x19.com/" target="_blank">Life in 19x19 forum</a>
    <a href="http://www.weiqiok.com/asp/English.asp" target="_blank">weiqiok.com</a>
</div> <!-- end navmenu -->